/* css styles */
@font-face {
  font-family: "Helvetica", sans-serif;
  /*font-family: "Aeonik", sans-serif;
  /*src: url("fonts/Aeonik-Regular.ttf") format("truetype");*/
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica", sans-serif;
  /* background-color: #FAFAFA;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", sans-serif;

}

code {
  color: black;
  background: none;
  padding: 0;
  font-size: 10;
}

.verybold{
    font-weight: 900;
    font-style: bold;
}

.my-link-class {
  text-decoration: none;
  /*color: #FAFAFA;*/
  font-weight: 700; /* uses bold file */
}
  
.navbar-brand {
  padding-left: 40px;
}