/* css styles */
@font-face {
  font-family: "Helvetica", sans-serif;
  /*font-family: "Aeonik", sans-serif;
  /*src: url("fonts/Aeonik-Regular.ttf") format("truetype");*/
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica", sans-serif;
  /* background-color: #FAFAFA;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", sans-serif;

}

.my-link-class {
  text-decoration: none;
  /*color: #FAFAFA;*/
  font-weight: 700; /* uses bold file */
}
  
.navbar-brand {
  padding-left: 20px;
}

/* Applies to screens below 768px */
@media (max-width: 768px) {
  /* Reduce padding and spacing */
  .navbar {
    padding: 0.5rem 1rem;
    font-size: 0.6rem;
  }

  /* Stack left-side nav items vertically */
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Adjust links (Home, CV, Projects) */
  .navbar-nav .nav-link {
    padding: 0.4rem 0;
    font-size: 1rem;
  }

  /* Move right-side icons below as well */
  .navbar-right {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5rem;
  }
}